<div *ngIf="user">
    <div>
        <label>ID: </label> {{user.id}}
      </div>
  <div>
    <label>Name: </label> {{user.name}}
  </div>
  <div>
    <label>Username: </label> {{user.username}}
  </div>
  <div>
    <label>Email: </label> {{user.email}}
  </div>
<div>
    <label>Roles: </label> {{user.roles | rolenames}}
  </div>
  <span class="btn btn-link" (click)='updateUser()'>Edit</span>
  <span class="btn btn-danger" (click)='deleteUser()'>Delete</span>
  <hr/>
 </div>
