<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful.
  Please login!
  <div>
  <button class="btn btn-success" type="submit" (click)="anew()">Register anew</button>
  </div>
</div>

<ng-template #signupForm>
  <div class="row col-sm-6" style="max-width:350px;">
<form [formGroup]="registerForm"  #formDir="ngForm" (ngSubmit)="onSubmit()" >
  
  <div class="form-group">
  <label> Name: </label>
    <input type="text" class="form-control" name="name" formControlName="name">
    <div *ngIf="registerForm.controls.name.touched && registerForm.controls.name.invalid">
      <div *ngIf="registerForm.controls.name.errors.required">Name is required</div>
    </div>
  </div>

 <div class="form-group">
  <label> Username: </label>
    <input type="text" class="form-control" formControlName="username">
    <div *ngIf="registerForm.controls.username.touched && registerForm.controls.username.invalid">
      <div *ngIf="registerForm.controls.username.errors.required">Username is required</div>
      <div *ngIf="registerForm.controls.username.errors.minlength">Username must be at least 6 characters</div>
    </div>
 </div>

 <div class="form-group">
  <label> Email: </label>
    <input type="text" class="form-control" formControlName="email">
    <div *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
      <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
      <div *ngIf="registerForm.controls.email.errors.email">Correct email needed</div>
    </div>
  </div>
  
  <div class="form-group">
  <label> Password: </label>
    <input type="password" class="form-control" formControlName="password">
    <div *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
      <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
      <div *ngIf="registerForm.controls.password.errors.minlength">Password must be at least 3 characters</div>
    </div>
  </div>

  <div class="form-group">
    <label class="checkbox-inline" style="padding-right: 30px;">
    <input type="checkbox" class="form-control"  formControlName="isAdmin">Admin
    </label>
    <label class="checkbox-inline">
    <input type="checkbox" class="form-control"  formControlName="isGuest">Guest
    </label>
    <div *ngIf="registerForm.controls.isGuest.touched && registerForm.controls.isGuest.invalid">
    <div *ngIf="!registerForm.controls.isGuest.errors?.requiredTrue">Guest role should be checked</div>
    </div>
  </div>

  <div class="form-group">
  <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Register</button>
  <div *ngIf="formDir.submitted && isSignUpFailed" class="alert alert-warning">
      Signup failed!<br/>{{errorMessage}}
    </div>
  </div>

</form>
</div>
</ng-template>
