<h2>Admin Pane</h2>
<h3>Number of users: {{num}}</h3>
<form [formGroup]="editingForm">
<table class="table-bordered">
  <caption>List of Users</caption> 
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Roles</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor="let user of users1">
    <td>{{user.id}}</td>
    <td>
      <input type="text" size="8" *ngIf="user.id==userid && isediting" formControlName="name"/>
      <ng-container *ngIf="user.id!=userid || !isediting">{{user.name}}</ng-container>
    </td>
    <td>
        <input type="text" size="8" *ngIf="user.id==userid && isediting" formControlName="username"/>
        <ng-container *ngIf="user.id!=userid || !isediting">{{user.username}}</ng-container>
    </td>
    <td>
        <input type="text" size="17" *ngIf="user.id==userid && isediting" formControlName="email"/>
        <ng-container *ngIf="user.id!=userid || !isediting">{{user.email}}</ng-container>
    </td>
    <td>
        <div *ngIf="user.id==userid && isediting">
            <input type="checkbox" formControlName="isAdmin">Admin
            <input type="checkbox" formControlName="isGuest">Guest
        </div>
        <ng-container *ngIf="user.id!=userid || !isediting">{{user.roles | rolenames}}</ng-container>
   </td>
    <td><button *ngIf="user.id!=userid || !isediting" class="tbl-btn btn-link" (click)="updateUser1(user.id)">Edit</button>
      <button *ngIf="user.id==userid && isediting" class="tbl-btn btn-primary" (click)="updateUser1(user.id)">Save</button>
      <button class="tbl-btn btn-danger" (click)="deleteUser(user.id)">Delete</button></td>
  </tr>
</table>
</form>