<h3>Update User</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
          <label for="name">ID</label>
          <input type="text" readonly class="form-control" id="id" required [(ngModel)]="user.id" name="id">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name">
    </div>
    <div class="form-group">
      <label for="name">UserName</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>
    <div class="form-group">
      <label for="age">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
    </div>
    <div class="form-group">
        <label class="checkbox-inline" style="padding-right: 30px;">
        <input type="checkbox" class="form-control" name="ra" value="ROLE_ADMIN" [(ngModel)]="isAdmin">Admin
        </label>
        <label class="checkbox-inline">
        <input type="checkbox" class="form-control" name="rg" value="ROLE_GUEST" [(ngModel)]="isGuest">Guest
        </label>
      </div>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You updated successfully!</h4>
</div>