<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token.substring(1,20)}}.
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>
 
<ng-template #loggedOut>
  Please login.
</ng-template>