<div>
  <span><I>User Page</I></span>
</div>
<div *ngIf="user">
    <div>
        <label>ID: </label> {{user.id}}
      </div>
  <div>
    <label>Name: </label> {{user.name}}
  </div>
  <div>
    <label>Username: </label> {{user.username}}
  </div>
  <div>
    <label>Email: </label> {{user.email}}
  </div>
<div>
    <label>Roles: </label> {{user.roles | rolenames}}
  </div>
  <span class="btn btn-link" (click)='updateUser()'>Edit</span>
  <span class="btn btn-danger" (click)='deleteUser()'>Delete</span>
  <hr/>
  <div *ngIf="isupdating">
  <app-edit-user
      [user]="user">
  </app-edit-user>
  </div>
  <div *ngIf="isdeleted">
    <h4>You account deleted: Logout, please</h4>
    <h4>Register to log in again</h4>
  </div>
 </div>