<div *ngIf="isLoggedIn; else loggedOut">
    {{username}} Logged in as {{roles}}.
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:350px;">
      <form [formGroup]="loginForm"  #formDir="ngForm" (ngSubmit)="onSubmit()" >
  
          <div class="form-group">
          <label> Username: </label>
            <input type="text" class="form-control"  formControlName="username">
            <div *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
              <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
            </div>
          </div>
        
         <div class="form-group">
          <label> Password: </label>
            <input type="password" class="form-control" formControlName="password">
            <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
              <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
              <div *ngIf="loginForm.controls.password.errors.minlength">Password must be at least 3 character</div>
            </div>
         </div>

         <div class="form-group">
            <button class="btn btn-success" name="loginn" type="submit" [disabled]="!loginForm.valid">Login</button>
            <div *ngIf="formDir.submitted && isLoginFailed" class="alert alert-warning">
                {{errorMessage}}
              </div>
            </div>
          
          </form>
          </div>
          </ng-template>
